
$palettes: (
    "gray": (
        "900": #212121,
        "800": #424242,
        "700": #616161,
        "600": #757575,
        "500": #9e9e9e,
        "400": #bdbdbd,
        "300": #e0e0e0,
        "200": #eeeeee,
        "100": #f5f5f5,
        "50": #fafafa
    ),
    'blue-gray': (
        '1000': #11171a,
        '900': #263238,
        '800': #37474f,
        '700': #455a64,
        '600': #546e7a,
        '500': #607d8b,
        '400': #78909c,
        '300': #90a4ae,
        '200': #b0bec5,
        '100': #cfd8dc,
        '50': #eceff1
    ),
    "red": (
        "900": #b71c1c,
        "800": #c62828,
        "700": #d32f2f,
        "600": #e53935,
        "500": #f44336,
        "400": #ef5350,
        "300": #e57373,
        "200": #ef9a9a,
        "100": #ffcdd2,
        "50": #ffebee,
        "a100": #ff8a80,
        "a200": #ff5252,
        "a400": #ff1744,
        "a700": #d50000
    ),
    "pink": (
        '900': #880e4f,
        '800': #ad1457,
        '700': #c2185b,
        '600': #d81b60,
        '500': #e91e63,
        '400': #ec407a,
        '300': #f06292,
        '200': #f48fb1,
        '100': #f8bbd0,
        '50': #fce4ec,
        'a100': #ff80ab,
        'a200': #ff4081,
        'a400': #f50057,
        'a700': #c51162
    ),
    "purple": (
        '900': #4a148c,
        '800': #6a1b9a,
        '700': #7b1fa2,
        '600': #8e24aa,
        '500': #9c27b0,
        '400': #ab47bc,
        '300': #ba68c8,
        '200': #ce93d8,
        '100': #e1bee7,
        '50': #f3e5f5,
        'a100': #ea80fc,
        'a200': #e040fb,
        'a400': #d500f9,
        'a700': #aa00ff
    ),
    'deep-purple': (
        '900': #311b92,
        '800': #4527a0,
        '700': #512da8,
        '600': #5e35b1,
        '500': #673ab7,
        '400': #7e57c2,
        '300': #9575cd,
        '200': #b39ddb,
        '100': #d1c4e9,
        '50': #ede7f6,
        'a100': #b388ff,
        'a200': #7c4dff,
        'a400': #651fff,
        'a700': #6200ea
    ),
    'indigo': (
        '900': #1a237e,
        '800': #283593,
        '700': #303f9f,
        '600': #3949ab,
        '500': #3f51b5,
        '400': #5c6bc0,
        '300': #7986cb,
        '200': #9fa8da,
        '100': #c5cae9,
        '50': #e8eaf6,
        'a100': #8c9eff,
        'a200': #536dfe,
        'a400': #3d5afe,
        'a700': #304ffe,
    ),
    "blue": (
        "900": #0f6092,
        "800": #1a80b4,
        "700": #0092cf,
        "600": #25a4da,
        "500": #2cb2e8,
        "400": #42beeb,
        "300": #5ec9ed,
        "200": #88d9f2,
        "100": #b6e8f6,
        "50": #e2f6fc,
        'a100': #82b1ff,
        'a200': #448aff,
        'a400': #2979ff,
        'a700': #2962ff,
        "a800": #497CA8,
    ),
    'light-blue': (
        '900': #01579b,
        '800': #0277bd,
        '700': #0288d1,
        '600': #039be5,
        '500': #03a9f4,
        '400': #29b6f6,
        '300': #4fc3f7,
        '200': #81d4fa,
        '100': #b3e5fc,
        '50': #e1f5fe,
        'a100': #80d8ff,
        'a200': #40c4ff,
        'a400': #00b0ff,
        'a700': #0091ea
    ),
    'cyan': (
        '900': #006064,
        '800': #00838f,
        '700': #0097a7,
        '600': #00acc1,
        '500': #00bcd4,
        '400': #26c6da,
        '300': #4dd0e1,
        '200': #80deea,
        '100': #b2ebf2,
        '50': #e0f7fa,
        'a100': #84ffff,
        'a200': #18ffff,
        'a400': #00e5ff,
        'a700': #00b8d4
    ),
    'teal': (
        '900': #004d40,
        '800': #00695c,
        '700': #00796b,
        '600': #00897b,
        '500': #009688,
        '400': #26a69a,
        '300': #4db6ac,
        '200': #80cbc4,
        '100': #b2dfdb,
        '50': #e0f2f1,
        'a100': #a7ffeb,
        'a200': #64ffda,
        'a400': #1de9b6,
        'a700': #00bfa5
    ),
    "green": (
        '900': #1b5e20,
        '800': #2e7d32,
        '700': #388e3c,
        '600': #43a047,
        '500': #4caf50,
        '400': #66bb6a,
        '300': #81c784,
        '200': #a5d6a7,
        '100': #c8e6c9,
        '50': #e8f5e9,
        'a100': #b9f6ca,
        'a200': #69f0ae,
        'a400': #00e676,
        'a700': #00c853
    ),
    'light-green': (
        '900': #33691e,
        '800': #558b2f,
        '700': #689f38,
        '600': #7cb342,
        '500': #8bc34a,
        '400': #9ccc65,
        '300': #aed581,
        '200': #c5e1a5,
        '100': #dcedc8,
        '50': #f1f8e9,
        'a100': #ccff90,
        'a200': #b2ff59,
        'a400': #76ff03,
        'a700': #64dd17
    ),
    'lime': (
        '900': #827717,
        '800': #9e9d24,
        '700': #afb42b,
        '600': #c0ca33,
        '500': #cddc39,
        '400': #d4e157,
        '300': #dce775,
        '200': #e6ee9c,
        '100': #f0f4c3,
        '50': #f9fbe7,
        'a100': #f4ff81,
        'a200': #eeff41,
        'a400': #c6ff00,
        'a700': #aeea00
    ),
    'yellow': (
        '900': #f57f17,
        '800': #f9a825,
        '700': #fbc02d,
        '600': #fdd835,
        '500': #ffeb3b,
        '400': #ffee58,
        '300': #fff176,
        '200': #fff59d,
        '100': #fff9c4,
        '50': #fffde7,
        'a700': #ffd600,
        'a400': #ffea00,
        'a200': #ffff00,
        'a100': #ffff8d,
    ),
    'amber': (
        '900': #ff6f00,
        '800': #ff8f00,
        '700': #ffa000,
        '600': #ffb300,
        '500': #ffc107,
        '400': #ffca28,
        '300': #ffd54f,
        '200': #ffe082,
        '100': #ffecb3,
        '50': #fff8e1,
        'a100': #ffe57f,
        'a200': #ffd740,
        'a400': #ffc400,
        'a700': #ffab00
    ),
    'orange': (
        '900': #e65100,
        '800': #ef6c00,
        '700': #f57c00,
        '600': #fb8c00,
        '500': #ff9800,
        '400': #ffa726,
        '300': #ffb74d,
        '200': #ffcc80,
        '100': #ffe0b2,
        '50': #fff3e0,
        'a100': #ffd180,
        'a200': #ffab40,
        'a400': #ff9100,
        'a700': #ff6d00
    ),
    'deep-orange': (
        '900': #bf360c,
        '800': #d84315,
        '700': #e64a19,
        '600': #f4511e,
        '500': #ff5722,
        '400': #ff7043,
        '300': #ff8a65,
        '200': #ffab91,
        '100': #ffccbc,
        '50': #fbe9e7,
        'a100': #ff9e80,
        'a200': #ff6e40,
        'a400': #ff3d00,
        'a700': #dd2c00
    ),
    'brown': (
        '900': #3e2723,
        '800': #4e342e,
        '700': #5d4037,
        '600': #6d4c41,
        '500': #795548,
        '400': #8d6e63,
        '300': #a1887f,
        '200': #bcaaa4,
        '100': #d7ccc8,
        '50': #efebe9,
    )
) !default;

$gray-50:	  get-gray(50) !default;
$gray-100:	get-gray(100) !default;
$gray-200:	get-gray(200) !default;
$gray-300:	get-gray(300) !default;
$gray-400:	get-gray(400) !default;
$gray-500:	get-gray(500) !default;
$gray-600:	get-gray(600) !default;
$gray-700:	get-gray(700) !default;
$gray-800:	get-gray(800) !default;
$gray-900:	get-gray(900) !default;

$blue-50:	  get-blue(50) !default;
$blue-100:	get-blue(100) !default;
$blue-200:	get-blue(200) !default;
$blue-300:	get-blue(300) !default;
$blue-400:	get-blue(400) !default;
$blue-500:	get-blue(500) !default;
$blue-600:	get-blue(600) !default;
$blue-700:	get-blue(700) !default;
$blue-800:	get-blue(800) !default;
$blue-900:	get-blue(900) !default;
$blue-a100:	get-blue(a100) !default;
$blue-a200:	get-blue(a200) !default;
$blue-a400:	get-blue(a400) !default;
$blue-a700:	get-blue(a700) !default;

$blue-gray-50:	get-blue-gray(50) !default;
$blue-gray-100:	get-blue-gray(100) !default;
$blue-gray-200:	get-blue-gray(200) !default;
$blue-gray-300:	get-blue-gray(300) !default;
$blue-gray-400:	get-blue-gray(400) !default;
$blue-gray-500:	get-blue-gray(500) !default;
$blue-gray-600:	get-blue-gray(600) !default;
$blue-gray-700:	get-blue-gray(700) !default;
$blue-gray-800:	get-blue-gray(800) !default;
$blue-gray-900:	get-blue-gray(900) !default;

$red-50:	get-red(50) !default;
$red-100:	get-red(100) !default;
$red-200:	get-red(200) !default;
$red-300:	get-red(300) !default;
$red-400:	get-red(400) !default;
$red-500:	get-red(500) !default;
$red-600:	get-red(600) !default;
$red-700:	get-red(700) !default;
$red-800:	get-red(800) !default;
$red-900:	get-red(900) !default;
$red-a100:	get-red(a100) !default;
$red-a200:	get-red(a200) !default;
$red-a400:	get-red(a400) !default;
$red-a700:	get-red(a700) !default;

$pink-50:	  get-pink(50) !default;
$pink-100:	get-pink(100) !default;
$pink-200:	get-pink(200) !default;
$pink-300:	get-pink(300) !default;
$pink-400:	get-pink(400) !default;
$pink-500:	get-pink(500) !default;
$pink-600:	get-pink(600) !default;
$pink-700:	get-pink(700) !default;
$pink-800:	get-pink(800) !default;
$pink-900:	get-pink(900) !default;
$pink-a100:	get-pink(a100) !default;
$pink-a200:	get-pink(a200) !default;
$pink-a400:	get-pink(a400) !default;
$pink-a700:	get-pink(a700) !default;

$purple-50:	  get-purple(50) !default;
$purple-100:	get-purple(100) !default;
$purple-200:	get-purple(200) !default;
$purple-300:	get-purple(300) !default;
$purple-400:	get-purple(400) !default;
$purple-500:	get-purple(500) !default;
$purple-600:	get-purple(600) !default;
$purple-700:	get-purple(700) !default;
$purple-800:	get-purple(800) !default;
$purple-900:	get-purple(900) !default;
$purple-a100:	get-purple(a100) !default;
$purple-a200:	get-purple(a200) !default;
$purple-a400:	get-purple(a400) !default;
$purple-a700:	get-purple(a700) !default;

$deep-purple-50:	get-deep-purple(50) !default;
$deep-purple-100:	get-deep-purple(100) !default;
$deep-purple-200:	get-deep-purple(200) !default;
$deep-purple-300:	get-deep-purple(300) !default;
$deep-purple-400:	get-deep-purple(400) !default;
$deep-purple-500:	get-deep-purple(500) !default;
$deep-purple-600:	get-deep-purple(600) !default;
$deep-purple-700:	get-deep-purple(700) !default;
$deep-purple-800:	get-deep-purple(800) !default;
$deep-purple-900:	get-deep-purple(900) !default;
$deep-purple-a100:	get-deep-purple(a100) !default;
$deep-purple-a200:	get-deep-purple(a200) !default;
$deep-purple-a400:	get-deep-purple(a400) !default;
$deep-purple-a700:	get-deep-purple(a700) !default;

$indigo-50:	  get-indigo(50) !default;
$indigo-100:	get-indigo(100) !default;
$indigo-200:	get-indigo(200) !default;
$indigo-300:	get-indigo(300) !default;
$indigo-400:	get-indigo(400) !default;
$indigo-500:	get-indigo(500) !default;
$indigo-600:	get-indigo(600) !default;
$indigo-700:	get-indigo(700) !default;
$indigo-800:	get-indigo(800) !default;
$indigo-900:	get-indigo(900) !default;
$indigo-a100:	get-indigo(a100) !default;
$indigo-a200:	get-indigo(a200) !default;
$indigo-a400:	get-indigo(a400) !default;
$indigo-a700:	get-indigo(a700) !default;

$light-blue-50:	  get-light-blue(50) !default;
$light-blue-100:	get-light-blue(100) !default;
$light-blue-200:	get-light-blue(200) !default;
$light-blue-300:	get-light-blue(300) !default;
$light-blue-400:	get-light-blue(400) !default;
$light-blue-500:	get-light-blue(500) !default;
$light-blue-600:	get-light-blue(600) !default;
$light-blue-700:	get-light-blue(700) !default;
$light-blue-800:	get-light-blue(800) !default;
$light-blue-900:	get-light-blue(900) !default;
$light-blue-a100:	get-light-blue(a100) !default;
$light-blue-a200:	get-light-blue(a200) !default;
$light-blue-a400:	get-light-blue(a400) !default;
$light-blue-a700:	get-light-blue(a700) !default;

$cyan-50:	  get-cyan(50) !default;
$cyan-100:	get-cyan(100) !default;
$cyan-200:	get-cyan(200) !default;
$cyan-300:	get-cyan(300) !default;
$cyan-400:	get-cyan(400) !default;
$cyan-500:	get-cyan(500) !default;
$cyan-600:	get-cyan(600) !default;
$cyan-700:	get-cyan(700) !default;
$cyan-800:	get-cyan(800) !default;
$cyan-900:	get-cyan(900) !default;
$cyan-a100:	get-cyan(a100) !default;
$cyan-a200:	get-cyan(a200) !default;
$cyan-a400:	get-cyan(a400) !default;
$cyan-a700:	get-cyan(a700) !default;

$teal-50:	  get-teal(50) !default;
$teal-100:	get-teal(100) !default;
$teal-200:	get-teal(200) !default;
$teal-300:	get-teal(300) !default;
$teal-400:	get-teal(400) !default;
$teal-500:	get-teal(500) !default;
$teal-600:	get-teal(600) !default;
$teal-700:	get-teal(700) !default;
$teal-800:	get-teal(800) !default;
$teal-900:	get-teal(900) !default;
$teal-a100:	get-teal(a100) !default;
$teal-a200:	get-teal(a200) !default;
$teal-a400:	get-teal(a400) !default;
$teal-a700:	get-teal(a700) !default;

$green-50:	get-green(50) !default;
$green-100:	get-green(100) !default;
$green-200:	get-green(200) !default;
$green-300:	get-green(300) !default;
$green-400:	get-green(400) !default;
$green-500:	get-green(500) !default;
$green-600:	get-green(600) !default;
$green-700:	get-green(700) !default;
$green-800:	get-green(800) !default;
$green-900:	get-green(900) !default;
$green-a100:	get-green(a100) !default;
$green-a200:	get-green(a200) !default;
$green-a400:	get-green(a400) !default;
$green-a700:	get-green(a700) !default;

$light-green-50:	get-light-green(50) !default;
$light-green-100:	get-light-green(100) !default;
$light-green-200:	get-light-green(200) !default;
$light-green-300:	get-light-green(300) !default;
$light-green-400:	get-light-green(400) !default;
$light-green-500:	get-light-green(500) !default;
$light-green-600:	get-light-green(600) !default;
$light-green-700:	get-light-green(700) !default;
$light-green-800:	get-light-green(800) !default;
$light-green-900:	get-light-green(900) !default;
$light-green-a100:	get-light-green(a100) !default;
$light-green-a200:	get-light-green(a200) !default;
$light-green-a400:	get-light-green(a400) !default;
$light-green-a700:	get-light-green(a700) !default;

$lime-50:	  get-lime(50) !default;
$lime-100:	get-lime(100) !default;
$lime-200:	get-lime(200) !default;
$lime-300:	get-lime(300) !default;
$lime-400:	get-lime(400) !default;
$lime-500:	get-lime(500) !default;
$lime-600:	get-lime(600) !default;
$lime-700:	get-lime(700) !default;
$lime-800:	get-lime(800) !default;
$lime-900:	get-lime(900) !default;
$lime-a100:	get-lime(a100) !default;
$lime-a200:	get-lime(a200) !default;
$lime-a400:	get-lime(a400) !default;
$lime-a700:	get-lime(a700) !default;

$yellow-50:	  get-yellow(50) !default;
$yellow-100:	get-yellow(100) !default;
$yellow-200:	get-yellow(200) !default;
$yellow-300:	get-yellow(300) !default;
$yellow-400:	get-yellow(400) !default;
$yellow-500:	get-yellow(500) !default;
$yellow-600:	get-yellow(600) !default;
$yellow-700:	get-yellow(700) !default;
$yellow-800:	get-yellow(800) !default;
$yellow-900:	get-yellow(900) !default;
$yellow-a100:	get-yellow(a100) !default;
$yellow-a200:	get-yellow(a200) !default;
$yellow-a400:	get-yellow(a400) !default;
$yellow-a700:	get-yellow(a700) !default;

$amber-50:	get-amber(50) !default;
$amber-100:	get-amber(100) !default;
$amber-200:	get-amber(200) !default;
$amber-300:	get-amber(300) !default;
$amber-400:	get-amber(400) !default;
$amber-500:	get-amber(500) !default;
$amber-600:	get-amber(600) !default;
$amber-700:	get-amber(700) !default;
$amber-800:	get-amber(800) !default;
$amber-900:	get-amber(900) !default;
$amber-a100:	get-amber(a100) !default;
$amber-a200:	get-amber(a200) !default;
$amber-a400:	get-amber(a400) !default;
$amber-a700:	get-amber(a700) !default;

$orange-50:	  get-orange(50) !default;
$orange-100:	get-orange(100) !default;
$orange-200:	get-orange(200) !default;
$orange-300:	get-orange(300) !default;
$orange-400:	get-orange(400) !default;
$orange-500:	get-orange(500) !default;
$orange-600:	get-orange(600) !default;
$orange-700:	get-orange(700) !default;
$orange-800:	get-orange(800) !default;
$orange-900:	get-orange(900) !default;
$orange-a100:	get-orange(a100) !default;
$orange-a200:	get-orange(a200) !default;
$orange-a400:	get-orange(a400) !default;
$orange-a700:	get-orange(a700) !default;

$deep-orange-50:	get-deep-orange(50) !default;
$deep-orange-100:	get-deep-orange(100) !default;
$deep-orange-200:	get-deep-orange(200) !default;
$deep-orange-300:	get-deep-orange(300) !default;
$deep-orange-400:	get-deep-orange(400) !default;
$deep-orange-500:	get-deep-orange(500) !default;
$deep-orange-600:	get-deep-orange(600) !default;
$deep-orange-700:	get-deep-orange(700) !default;
$deep-orange-800:	get-deep-orange(800) !default;
$deep-orange-900:	get-deep-orange(900) !default;
$deep-orange-a100:	get-deep-orange(a100) !default;
$deep-orange-a200:	get-deep-orange(a200) !default;
$deep-orange-a400:	get-deep-orange(a400) !default;
$deep-orange-a700:	get-deep-orange(a700) !default;

$brown-50:	get-brown(50) !default;
$brown-100:	get-brown(100) !default;
$brown-200:	get-brown(200) !default;
$brown-300:	get-brown(300) !default;
$brown-400:	get-brown(400) !default;
$brown-500:	get-brown(500) !default;
$brown-600:	get-brown(600) !default;
$brown-700:	get-brown(700) !default;
$brown-800:	get-brown(800) !default;
$brown-900:	get-brown(900) !default;

$enable-bootstrap-class:   false !default;
$enable-modifier-class:    true  !default;
$enable-custom-properties: true  !default;

$palette-export: (
    "blue":   700,
    "gray":   (50, 100, 200, 300, 400, 500, 600, 700, 800, 900),
    "red":    700,
    "green":  700,
    "yellow": 700
) !default;
